<% layout('layout') -%>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="page-header">
				<h2>Ostamme kaikki hyväkuntoiset levysi alan reiluimpaan hintaan</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="/images/brec.png" alt="Ostamme kaikki hyväkuntoiset levysi alan reiluimpaan hintaan">
			</div>
		</div>
		<div class="col-md-8 advertisement">
			<p>Olemme kiinnostuneita ostamaan LP -levyjä/ 7" singlejä seuraavista musiikki genreistä:</p>
			<div class="col-md-6">
				<ul>
					<li class="genre"><span><i class="fa fa-star"></i></span>Rock</li>
					<li class="genre"><span><i class="fa fa-star"></i></span>Punk/ Hardcore</li>
					<li class="genre"><span><i class="fa fa-star"></i></span>Blues</li>
					<li class="genre"><span><i class="fa fa-star"></i></span>Jazz</li>
					<li class="genre"><span><i class="fa fa-star"></i></span>Funk/ Soul</li>
					<li class="genre"><span><i class="fa fa-star"></i></span>Reggae</li>
					<li class="genre"><span><i class="fa fa-star"></i></span>Kotimainen</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul>
					<li class="genre"><span><i class="fa fa-star"></i></span>Heavy</li>
					<li class="genre"><span><i class="fa fa-star"></i></span>Metal</li>
					<li class="genre"><span><i class="fa fa-star"></i></span>Svart-Records</li>
					<li class="genre"><span><i class="fa fa-star"></i></span>Indie</li>
					<li class="genre"><span><i class="fa fa-star"></i></span>Folk & Country</li>
					<li class="genre"><span><i class="fa fa-star"></i></span>Hip Hop</li>
				</ul>
			</div>
			<div class="col-md-12">
				    <p>Ostamme yksittäiset levyt tai isommat kokoelmat. Levyn ostohintaan vaikuttaa mm. seuraavat seikat: levyn- sekä kansien kunto, haluttavuus ja painoksen määrä.</p>
				    <p>Isommat erät voimme noutaa Koko-Suomen alueelta.</p>
				    <p>ostamme myös kuolinpesät. maksamme heti käteisellä (tai pankkisiirrolla).</p>
				    <a href="/asiakaspalvelu" class="btn btn-default"><i class="fa fa-envelope" aria-hidden="true"></i> Ota yhteyttä</a>
			</div>
		</div>
	</div>
</div>