<% layout('layout') -%>
<div class="container">
	<div class="row">
		<div class="col-md-12">
		<h2>Verkkokaupan yleiset ehdot</h2>
		<a name="top"></a>
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<a href="#hinnatSopimusjaTomitusaiaka" class="btn btn-info">Hinnat, Toimitus jne.</a>
			</div>
			<div class="btn-group">
				<a href="#toimitus" class="btn btn-primary">Toimitusehdot</a>
			</div>
			<div class="btn-group">
				<a href="#vaihtoJaPalautus" class="btn btn-warning">Vaihto & Palautus</a>
			</div>
			<div class="btn-group">
				<a href="#kuluttajansuoja" class="btn btn-success">Kuluttajansuoja</a>
			</div>
			<div class="btn-group">
				<a href="/" class="btn btn-danger">Takaisin Kauppaan</a>
			</div>
		</div>
		<hr />
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Ikäraja</h4>
				</div>
				<div class="panel-body">
					<p>Asioidakseen verkkokaupassa asiakkaan on oltava <mark>vähintään 15-vuotias</mark>. Alaikäisten ostoksille edellytetään huoltajan suostumus. Alaikäinen voi maksaa vain verkkopankin kautta, <strong>luotto-ostojen ikäraja on 18 vuotta</strong>.</p>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Taustaa</h4>
				</div>
				<div class="panel-body">
					<p>Näitä sopimusehtoja sovelletaan asiakkaan tilatessa tuotteita Rolling Records verkkokaupan sivulla www.rollingrecords.fi. Tehdessäsi tilauksen hyväksyt yleiset sopimusehdot. Näillä ehdoilla ei heikennetä sinulle Suomen lain mukaan kuuluvia oikeuksia.</p>
					<br />
					<div class="well well-lg">
					<p>Rolling Recordsilla on oikeus keskeyttää verkkokauppa tarvittaessa esimerkiksi huoltotoimenpiteiden suorittamiseksi.</p>
					</div>
					<p>Rolling Recods pidättää itsellään oikeuden perustellusta syystä muuttaa näitä sopimusehtoja ilmoittamalla asiasta sähköpostilla, kirjallisesti tai verkkokaupan välityksellä sinulle. Tilaukseen sovelletaan tilaushetkellä voimassa olevia ehtoja, joihin sinun tulee tutustua ennen tilausta.</p>
				</div>
			</div>
			<a name="hinnatSopimusjaTomitusaiaka"></a>
		<h3>Hinnat, Sopimuksen sitovuus & Toimitusaika</h3>
		<hr />
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Hinnat</h4>
			</div>
			<div class="panel-body">
				<p>Tuotteiden hinnat ovat euromääräisiä (EUR) ja sisältävät kulloinkin voimassa olevan arvonlisäveron, joka on tällä hetkellä <mark>kirjoissa 10%</mark> ja <mark>kaikissa muissa tuotteissamme 24%</mark>. Hinnat eivät sisällä käsittely- eivätkä lähetyskuluja. Tilaushetkellä ilmoittamamme hinnat ovat voimassa asiakkaan koko ostoprosessin ajan.</p>
				<div class="well well-lg">
					<p>Rolling Records pidättää oikeuden tilauksen perumiseen, jos kyseessä on selvä hintavirhe. Selvällä hintavirheellä tarkoitetaan verkkokaupassa sitä, että tuotteen hinta poikkeaa selvästi ja merkittävästi tuotteen oikeasta hinnasta (esimerkkinä jos tuotteella on hinta 0,00 euroa tai tuotteella ei ole hintaa ollenkaan). Tällaisessa tapauksessa virheellinen hinta poikkeaa niin selvästi oikeasta hinnasta, että sinun katsotaan ymmärtävän hintatiedon olevan virheellinen.</p>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Sopimuksen sitovuus</h4>
			</div>
			<div class="panel-body">
				<p>Osapuolia sitova sopimus syntyy, kun Rolling Records on lähettänyt erillisen tilausvahvistuksen antamaasi sähköpostiosoitteeseen <mark>(Tilausvahvistus)</mark>. Vahvistus tehdään heti kun Rolling Records on vastaanottanut tilauksen ja maksaminen on suoritettu onnistuneesti. Perjantaina, pyhän aattona tai pyhänä tehty tilaus pyritään vahvistamaan viimeistään seuraavana arkipäivänä klo 18.00 mennessä. Tilaus voidaan vahvistaa vain, jos Rolling Records pystyy todentamaan asiakkaan kotiosoitteen.</p>
				<br />
				<p>Rolling Recordsilla on oikeus yksittäisissä tapauksissa hylätä tilauksesi. Rolling Records ei takaa verkkokaupan tuotteiden saatavuutta kaikissa tilanteissa. Kaikki asiakastunnuksillasi tehdyt ostokset katsotaan sinun ostoksiksi. Tämän vuoksi on tärkeää, että säilytät asiakastunnuksia huolellisesti siten, etteivät ne joudu ulkopuolisten tietoon.</p>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Toimitusaika ja toimituksesta ilmoittaminen</h4>
			</div>
			<div class="panel-body">
				<p>Varastossa olevien tuotteiden toimitusaika on tavallisesti noin 1-3 arkipäivää siitä, kun Rolling Records on lähettänyt tilausvahvistuksen. Toimitusaika on arvio. Toimituksen myöhästyessä merkittävästi sinulla on oikeus purkaa kauppa. Rolling Records ei vastaa mahdollisista vahingoista, jotka ovat aiheutuneet arvioidun toimitusajan ylittämisestä. Juhlapyhien aikaan (esim. jouluaika) voivat toimitusajat olla hieman pidempiä.</p>
				<div class="well well-lg">
					<p>Rolling Records vastaanottaa ja toimittaa tilaukset siinä järjestyksessä kuin ne saapuvat.</p>
				</div>
				<p>Sinun tulee ilmoittaa tilauksen yhteydessä, haluatko noutaa paketin Rolling Records myymälästä, vai haluatko toimituksen Postin toimipisteeseen vai toimituksen kotiosoitteeseen. Kun tilaus on valmis noudettavaksi, sinulle lähetetään tästä ilmoitus.</p>
				<br />
				<p>Jos olet ilmoittanut noutavasi tilauksen Postin toimipisteestä, tilausta noudettaessa mukana on oltava voimassaoleva henkilöllisyystodistus sekä Itellan  saapumisilmoitus tai paketin lähetystunnus. Tilaus on noudettava 14 päivän kuluessa saapumisilmoituksesta.</p>
			</div>
		</div>
		<a name="toimitus"></a>
		<h3>Toimitusehdot</h3>
		<hr />
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4>Toimitustapa ja lähetyskulut</h4>
			</div>
			<div class="panel-body">
				<p><strong>Suomessa asuvana voit valita toimitustavaksi:</strong></p>
				<ol>
					<% for(var i = 0; i < deliveryCosts.length; i++) { %>
					<li><%= deliveryCosts[i].name %> - <strong><%= deliveryCosts[i].price %> €</strong></li>
					<% } %>
				</ol>
				<p>Mikäli toimitustavaksi on valittu nouto Itellan toimipisteestä, voit seurata lähetyksen etenemistä Itellan Internet-sivuilla kohdassa lähetysten seuranta. Lähetyksen seuranta on Itellan tarjoama palvelu, johon saattaa liittyä Itellan asettamia rajoituksia.</p>
				<div class="well well-lg">
					<p>Tuotteet toimitetaan yhtenä lähetyksenä.</p>
					<p>Rolling Records ei lähetä jälkitoimituksia.</p>
				</div>
				<p>Rolling Records ei voi taata tuotteiden saatavuutta kaikissa olosuhteissa. Mikäli jotakin tilaamaasi tuotetta ei poikkeuksellisesti ole saatavilla, Rolling Records ilmoittaa tästä sinulle ja toimittaa vain ne tuotteet, jotka ovat saatavilla. Rolling Records hyvittää toimittamatta jääneet maksamasi tuotteet.</p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Tilaukset Suomen Ulkopuolelle</h4>
			</div>
			<div class="panel-body">
				<p>Toistaiseksi tilauksia toimitetaan ainoastaan manner- suomessa oleviin osoitteisiin.</p>
			</div>
		</div>
		<a name="vaihtoJaPalautus"></a>
		<h3>Vaihto ja palautus</h3>
		<blockquote class="blockquote"><p class="bg-warning">Sinulla on oikeus vaihtaa tuote 14-päivän sisällä sen vastaanottamisesta. Sinulla tulee olla mukanasi palautuslomake ja paketin mukana seurannut kuitti. Tuotteiden tulee olla käyttämättömiä ja vahingoittumattomia, ja alkuperäisten hintalappujen sekä etikettien tulee olla yhä kiinni tuotteissa.</p></blockquote>
		<hr />
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Palautus Rolling Records –myymälään.</h4>
			</div>
			<div class="panel-body">
				<p>Kätevin tapa palauttaa tuote on kääntyä myymälämme (Sörnäinen) puoleen. Sinulla tulee tuotetta myymälään palauttaessaan olla mukanaan palautuslomake ja paketin mukana seurannut kuitti . Rahat palautetaan sinulle tilille.</p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Palautus Postin kautta.</h4>
			</div>
			<div class="panel-body">
				<p>Voit palauttaa tuotteet myös postitse Rolling Recordsille. Tuotteiden palauttaminen ei aiheuta sinulle kustannuksia. Sinun tulee noudattaa palautuslomakkeella esitettyjä palautusohjeita.</p>
				<div id="wellblue" class="well well-lg">
					<p><strong>Toimi näin:</strong></p>
					<p>Pakkaa käyttämättömät </p>
					<p>Voit palauttaa tuotteen samassa paketissa, jossa se saapui.</p>
					<p>Toimita paketti lähimpään Postin toimipisteeseen ja ilmoita, että kyseessä on Rolling Recordsin verkkokauppapalautus.</p>
				</div>
				<p>Halutessasi voit palauttaa tuotteen mihin tahansa Postin toimipisteeseen. Käytä palautukseen mieluiten samaa pakettia, jossa tuote sinulle toimitettiin. Muista säilyttää palautuksesta saamasi kuitti. Palautus on sinulle maksuton.</p>
				<p>Mikäli maksoit ostoksesi verkkomaksuna ja palautat tuotteen Postin kautta, on tilinumeron ilmoittaminen palautuksen yhteydessä välttämätöntä, jotta voimme palauttaa rahat pankkitilillesi.</p>
				<p>Mikäli olemme lähettäneet sinulle viallisen tai väärän tuotteen, palauta tuote ohjeiden mukaisesti.</p>
				<p>Jos haluat palauttaa kaikki tilaamasi tuotteet, hyvitämme sinulle myös maksamasi toimituskulut mutta mikäli palautat vain osan tuotteista, saat takaisin vain palautettavista tuotteista maksamasi summan.</p>
				<div class="panel-footer">
					<p>Asiakaspalvelumme vastaa mielellään, jos sinulla on lisää kysyttävää!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Tuotereklamaatiot</h4>
			</div>
			<div class="panel-body">
				<p>Rolling Records vastaa siitä, että jokainen lähetys tarkistetaan huolellisesti ennen kuin se lähetetään asiakkaalle. Jos siitä huolimatta saat <mark>virheellisen tai väärän tuotteen</mark>, reklamoithan havaitsemastasi virheestä viipymättä.</p>
				<p>Kätevin tapa reklamoida on kääntyä myymälämme puoleen. Reklamaatio voidaan tehdä myös lähettämällä virheellinen tuote takaisin Rolling Recordsille käyttämällä palautuslomaketta (etusivu / vaihto ja palautus). Reklamoidessasi virheellisestä tuotteesta sinun tulee kertoa syy reklamaatiolle. Mikäli haluat purkaa kaupan, palautetaan maksu 30-päivän kuluessa siitä, kun Rolling Records on vastaanottanut virheellisen tuotteen.</p>
			</div>
		</div>
		<a name="kuluttajansuoja"></a>
		<h3>Kuluttajansuoja</h3>
		<blockquote class="blockquote">
			<p>Rolling Records noudattaa kaikessa toiminnassaan kuluttajaviranomaisten suosituksia.</p>
		</blockquote>
		<hr />
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Ylivoimainen este</h4>
			</div>
			<div class="panel-body">
				<p>Rolling Records ei vastaa viivästyksistä ja vahingoista, jotka johtuvat sen vaikutusmahdollisuuksien ulkopuolella olevasta esteestä, jota se ei ole kohtuudella voinut ennakoida tai jonka seurauksia se ei voi välttää. Ylivoimaiseksi esteeksi katsotaan mm. työtaistelutoimenpiteet, henkilökunnan sairastuminen, tuonti- ja vientikiellot sekä häiriöt kuljetuksissa. Mikäli ylivoimainen este jatkuu yli kolme kuukautta, on sekä Rolling Recordsille että asiakkaalla oikeus purkaa tilaukset ilman vahingonkorvaus- tai viivästysseuraamuksia.</p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Tietosuoja ja turvallisuus</h4>
			</div>
			<div class="panel-body">
				<p>Maksaessasi luottokortilla Rolling Records verkkokaupassa käytämme Verified by Visa ja MasterCard SecureCode – todentamisjärjestelmiä varmistaaksemme maksutapahtumasi turvallisuuden. Turvallisuutesi takia emme myöskään tallenna maksukorttisi korttinumeroa missään vaiheessa. Näin kukaan ei pääse väärinkäyttämään tietojasi myöhemmin.</p>
				<p>Asiakkaan suojelemiseksi Rolling Records pidättää oikeuden tarkistaa korttimaksun yhteydessä asiakkaan henkilöllisyyden, kortin voimassaolon, luottovaran riittävyyden kyseessä olevaan ostokseen sekä asiakkaan osoitetiedot. Maksutapoja tai turvallisuutta koskevissa kysymyksissä asiakas voi ottaa yhteyttä Rolling Records asiakaspalveluun "rollingrecords@outlook.com".</p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Tietosuoja</h4>
			</div>
			<div class="panel-body">
				<p>Rolling Records vastaa henkilötiedoista, jotka asiakas Rolling Recordssille ilmoittaa tai jotka Rolling Records saa haltuunsa asiakkaan tilauksen yhteydessä. Rolling Records huolehtii asiakastietojen asianmukaisesta käsittelystä ja säilyttämisestä.</p>
				<p>Tietoja käytetään toimitussopimuksen solmimisessa ja toteuttamisessa, Rolling Recordsin organisoimissa suunnatuissa markkinointitoimenpiteissä, maksujen perinnässä ja muissa asiakassuhteen hoitamiseen liittyvissä tilanteissa.</p>
				<p>Tietoja käytetään toimitussopimuksen solmimisessa ja toteuttamisessa, Rolling Recordsin organisoimissa suunnatuissa markkinointitoimenpiteissä, maksujen perinnässä ja muissa asiakassuhteen hoitamiseen liittyvissä tilanteissa. Rolling Recordsin keräämiä tietoja käytetään ainoastaan konsernin sisällä eikä Rolling Records luovuta tietoja kolmansille osapuolille.</p>
				<div class="panel-footer">
					<p>Asiakas voi tarkistaa Rolling Recordsin hallussa olevat asiakastiedot ottamalla yhteyttä asiakaspalveluun osoitteeseen "rollingrecords@outlook.com".</p>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<a class="pull-right btn btn-default btn-lg" href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
