<% layout('layout') -%>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="page-header">
					<h2>Bonusjärjestelmän ehdot</h2>
				</div> 
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p>Jokaisesta yli 20euron ostoksesta yhden leiman, yli 40 euron ostoksesta saat kaksi leimaa jne. Kerättyäsi 10 leimaa saat 20 € alennuksen ostoksistasi.</p>
				<p>Kerättyäsi 10 leimaa, voit lunastaa nämä käyttämällä ne verkkokaupassamme tai myymälässä Helsingissä tai Tampereella.</p>
				<p>Ostaessanne verkkokaupassa, saatte keräämänne leimat maksettuanne ostokset.</p>
				<p>Mikäli valitsette maksutavaksi <strong>Nouto ja maksu valitsemassanne myymälässä</strong> tai <strong>teette ostoksia myymälässä</strong>, saatte leimat myymälässä maksun yhteydessä.</p>
				<p>Bonusjärjestelmämme tuo sinulle paljon etua etenkin silloin, kun ostat useita Levyjä vuodessa.</p>
				<p>Voit liittyä bonusjärjestelmäämme <strong><a href="/kayttajahallinta/rekisteroidy">rekistyröitymällä</a></strong>.</p>
				<p><strong>Huom!</strong> Svart records, levyyhtiön LP levyt, eivät valitettavasti kerrytä leimoja.</p>
			</div>
		</div>
	</div>
</section>