<h1>Arvoisa <%= user.name.firstname %> <%= user.name.lastname %>, </h1>
<p>pyydämme teitä vahvistamaan sähköpostiosoitteenne klikkaamalla alla olevaa linkkiä.Vasta sähköpostin vahvistuksen jälkeen käyttäjätilinne aktivoidaan ja voitte siirtyä ostamaan tuotteitamme.</p>
<p>Suorittaaksenne käyttäjätilinnen aktivoinnin loppuun, kopioikaa ohessa oleva linkki selaimenne osoitekenttään, tai klikatkaa sitä hiirellä.</p>
<a href="/kayttajahallinta/aktivointi/<%= token %>">wwww.rollingrecords.fi/kayttajahallinta/aktivointi/<%= token %></a>
<p>Jos ette ole rekisteröineet tätä sähköposti osoitetta, olkaa hyvä ja ottakaa yhteyttä asiakaspalveluumme!</p>
<p>Ystävällisin Terveisin, </p>
<p>Rolling Records Tmi </p>
<p> puh: +358503445539 </p>
<p> www.rollingrecords.fi</p>