<% layout('admin') -%>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="page-header">
				<h2><i class="fa fa-plus-circle" aria-hidden="true"></i> Lisää toimituskulu <small class="pull-right"><i class="fa fa-calendar" aria-hidden="true"></i> <%= moment(Date.now()).locale("fi").format('DD.MM.YYYY') %></small></h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form action="/admin/deliverycost" method="POST">
				<div class="form-group">
					<label for="name">Nimi</label>
					<input type="text" name="name" id="name" class="form-control" required placeholder="Nimi *" />
				</div>
				<div class="form-group">
					<label for="unit_price">Hinta</label>
					<input type="number" step="any" name="unit_price" id="unit_price" class="form-control" required placeholder="Hinta *" />
				</div>
				<div class="form-group">
						<label for="tax_rate">Arvonlisävero</label>
						<select class="form-control" name="tax_rate" id="tax_rate" required>
              				<option value="24">24%</option>
              				<option value="10">10%</option>
              				<option value="0">0%</option>
              			</select>
					</div>
				<div class="form-group">
					<label for="description">Kuvaus</label>
					<textarea class="form-control" id="description" name="description" rows="6" required></textarea>	
				</div>
				<button type="submit" class="btn btn-success btn-block">Lisää</button>
			</form>
		</div>
	</div>
</div>