.grey-bag{
background-color: #f4f4f4;
height: 100vh;
} 
#page-content-wrapper,
#wrapper,
section {
	position: relative;
}
#page-content-wrapper {
  padding: 0;
}
#wrapper {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 800px) {
.grey-bag{
height: inherit ;
}
}

#adrsfrm{
display: none;
}
.green {
	background-color: lightgreen;
	border: 1px ridge green;
}
.red {
	background-color: pink;
	border: 1px ridge red;
	text-decoration: line-through;
}
#editbtn{
display: none;
margin-top: 5px;
}
#editUserInformationForm {
	display: none;
}