<% layout('admin') -%>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="page-header">
				<h2><i class="fa fa-bar-chart-o fa-fw"></i> Raportit kaavioina <small class="pull-right"><%= moment(Date.now()).locale("fi").format('DD.MM.YYYY') %></small></h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<svg style="margin: 2px auto; border: 1px ridge #000000; width: 70vw; height: 40vh;" vaersion="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg">
				<g stroke-width="5px" stroke="darkblue">
					<line x1="100" y1="100" x2="500" y2="300" />	
					<line x1="100" y1="300" x2="500" y2="100" />
				</g>
				<g>
					<rect rx="30" ry="30" x="50" y="50" width="90px" height="70px" fill="red" stroke="pink" stroke-width="5px"/>
				</g>		
			</svg>	
		</div>
	</div>
</div>